<div  *ngIf="!this.movieListService.listEnd" class="mainContainer">
    <h2 *ngIf="showTitle" class = "movieTitle">{{ this.movieListService.movieData.title}}</h2>
    <span class="plot"> {{ this.movieListService.movieData.plot}}</span>
    

    <div class="detailsSection">
    
        <div class="details1">
            <span class="rating blue">IMDB Rating: <span  class="black">{{ this.movieListService.movieData.rating}}</span> </span>
            <span class=" value1">⋄</span>
            <span class="year blue">Year of Release: <span class="black">{{ this.movieListService.movieData.year}}</span></span>
        </div>
        
    
        <div class="details2">
            <span class="genre blue">Genre: <span class="black">{{ this.movieListService.movieData.genre}}</span></span>
            <span class=" value1">⋄</span>
            <span class="language blue">Language: <span class="black">{{ this.movieListService.movieData.language}}</span></span>
            <span class=" value1">⋄</span>
            <span class="director blue" >Director: <span class="black">{{ this.movieListService.movieData.director}}</span></span>
            <span class=" value1">⋄</span>
            <span class="awards blue"> <span class="black">{{ this.movieListService.movieData.awards}}</span></span>
            
        </div>
    
       <div class="details3">
        <span class="cast blue">Cast: <span class="black">{{ this.movieListService.movieData.actors}}</span></span>
        
        
        <span class=" value1">⋄</span>
        <span class="boxOffice blue">Box Office Collection: <span class="black">{{ this.movieListService.movieData.boxOffice}}</span></span>
       </div>
    </div>

    
    
    <div class="buttons">
        <button *ngIf="!showTitle" class="nextButton"   (click)="nextPlot()">Next</button>
        <button *ngIf="!showTitle" class="movieNameButton"  routerLink="/movieDetails" (click) = "movieName()">Reveal Movie</button>
        <button *ngIf="showTitle" class="nextButton" routerLink="/home">Go Back</button>
        
    </div>
    

</div>

<div class="modal" id="tncModal">
    <div class="modalContent">
        <h4 class="close" (click)="closePopup()">❌</h4>

            <h2 class="popupText">I solemnly swear to watch the movie whose name is displayed. 
                <br>I swear not to be a picky b*tch, as the movies are great picks.
                <br>I swear to only change the movie if it's seomthing I've seen before, only after a careful consideration of 5 minutes o fthe fact 
            <br>"Do I really don't want to watch this masterpiece again?"</h2>
            <div class="buttons2">
                <button class="cancelButt" (click)="closePopup()">Cancel</button>
                <button class="agreeButt" (click)="agreeButton()"  > I Agree</button>
                
            </div>
                   
    </div>
  
</div>

<div *ngIf="this.movieListService.listEnd" class="movieEnd">
    <h2>END OF OUR LIST</h2>
    <button  routerLink="/home" > Back to main Page</button>
</div>

<!-- <div class="modal" id="tncModal">
    <div class="modalContent">
        <span class="yo">YOOOOOOOOO</span>
    </div>
</div> -->

